---
---

@import "{{ site.theme }}";

$dark: #418ab3;
$mid_dark: #6faacb;
$mid_light: #a5cadf;
$light: #d1e4ef;

body {
    margin: 0;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  a {
    color: $dark;
  }
  
  h1 {
    color: $dark;
    text-align: center;
  }

  .markdown-body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .markdown-body p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 100%;
  }

  .markdown-body h1 {
    font-size: 180%;
  }

  .markdown-body h2 {
    font-size: 150%;
  }

  .markdown-body h3 {
    font-size: 130%;
  }

  #logo-banner {
    display: table;
    width: 1024px;
    background-color: $dark;

    #nmos-logo {
      display: table-cell;
      width: 191px;
      height: 64px;
      margin: 10px;
      background-color: $dark;
    }

    #amwa-logo {
      display: table-cell;
      width: 191px;
      height: 64px;
      margin: 10px;
      background-color: $dark;
    }

    #title {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        font-size: 175%;
        padding-top: 10px;
        padding-bottom: 10px;
        color: $light;
        background-color: $dark;
    }

    #from-amwa-logo {
      display: table-cell;
      align-self: center;
      width: 243px;
      height: 64px;
      margin: 10px;
      background-color: $dark;
    }
  }
  
  .header {
    {% if site.amwa_id contains "IS-" or site.amwa_id contains "MS-" %}
        height: 88px;
    {% else %}
        height: 48px;
    {% endif %}
    line-height: 48px;
    width: 1024px;
    font-size: 100%;
    background: $mid_light;
    z-index: 1;

    a {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        padding-left: 10px;
        padding-right: 10px;
        color: $dark;
    }

    .dropdown {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      padding-left: 10px;
      padding-right: 10px;
      color: $dark;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: $light;
      min-width: 100px;
      padding: 12px 16px;
      z-index: 7;
      font-size: 80%;
    }
    
    .dropdown:hover .dropdown-content {
      display: block;
    }



    .dropdown-3 {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      padding-left: 10px;
      padding-right: 10px;
      color: $dark;
    }


    .dropdown-3-content {
      display: none;
      position: absolute;
      background-color: $light;
      min-width: 100px;
      padding: 12px 16px;
      z-index: 7;
      font-size: 80%;
      column-count: 3;
      max-height: 800px;
    }
    

    .dropdown-3:hover .dropdown-3-content {
      display: block;
    }

      .breadcrumbs {
        height: 40px;
        line-height: 40px;
        background: $light;

        a {
            color: $dark;
        }
      }

      .version-warning {
        background-color: #eea892;
        padding-left: 10px;
        padding-right: 10px;
        
        a {
          color: #df5327;
        }
      }

  }
  
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 1024px;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }

  html {
    scroll-padding-top: 100px;
  } 
